* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    text-align: center;
    color:white;
    transition: background-image 1s ease-in-out;
    /* Отвечает за плавное переключение*/
}

.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    width:100vw;
    height:100vh;
    background-color:black;
    opacity: 0.6;
}

#time{
    font-size:8rem;
}

#month-day{
    font-size:2rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
}

h1{
    margin-bottom:3rem;
}

h2{
    margin-bottom: 0.5rem;
}

.time-block{
    width:500px;
    margin-top: 50px;
    margin-right:50px;
}

.time-weather{
    display: flex;
    width:100vw;
    justify-content: center;
}

.weather{
    width:200px;
    height:200px;
    margin-right: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:50px;

}

.weather-icon{
    font-size: 60px;
}

.weather-config{
    font-size:30px;
    margin-left: 10px;
}

.temperature-content{
    display: flex;
    align-items:center;
    margin-top: 30px;
}

.city{
    margin-top: 20px;
    font-size: 30px;
}

.content{
    font-size:30px;
    height:20px;
}

.temperature{
    height: 20px;
}

.humidity{
    height: 20px;
}

.wind{
    height: 20px;
}

.btn {
    width: 200px;
    height: 40px;
    border: 0;
    filter: grayscale(1);
    margin: 20px;
    padding:10px;
    opacity: 0.8;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 0.5rem;
  }
  .btn:hover {
    cursor: pointer;
    opacity: 1;
    filter: grayscale(.8);
  }
  .btn:active,
  .btn:focus {
    outline: 0;
  }
  .btn:active{
    transform: scale(1.02)
  }

.btn {
    width: 200px;
    height: 40px;
    border: 0;
    filter: grayscale(1);
    margin: 20px;
    padding:10px;
    opacity: 0.8;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 0.5rem;
  }
  .btn:hover {
    cursor: pointer;
    opacity: 1;
    filter: grayscale(.8);
  }
  .btn:active,
  .btn:focus {
    outline: 0;
  }
  .btn:active{
    transform: scale(1.02)
  }

.btnQuote {
    width: 200px;
    height: 40px;
    border: 0;
    filter: grayscale(1);
    margin: 20px;
    padding:10px;
    opacity: 0.8;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 0.5rem;
  }
  .btnQuote:hover {
    cursor: pointer;
    opacity: 1;
    filter: grayscale(.8);
  }
  .btnQuote:active,
  .btnQuote:focus {
    outline: 0;
  }
  .btnQuote:active{
    transform: scale(1.02)
  }

.quote {
    width:40rem;
    font: 0.9rem Georgia, serif;
    margin: 0;
    padding: 1em;
    flex-grow: 0.0001;
  }
  .quote figcaption,
  .quote blockquote {
    margin: 1em;
  }
  .quote figcaption {
    text-align: right;
  }
.quote-author {
    background: rgba(95, 84, 126, 0.651);
    border-radius: 1em;
    padding: 1em;
}

.imp{
    text-decoration: underline;
}

@media(max-width:700px){
    #time{
        font-size: 6rem;
    }

    .time-block{
        margin-bottom: 70px;
    }

    .time-weather{
        flex-direction: column;
        width: 73vw;
        margin-top: 300px;
    }

    .weather{
        margin-right: 0px;
        margin-left: 150px;
        margin-bottom:128px;
    }

    .container{
        height: auto;
    }

    .quote{
        width:80vw;
    }

}

@media(max-width:570px){
    .time-weather{
        margin-top:300px;
        width:100vw;
    }
}

@media(max-width:450px){
    #time{
        font-size: 4rem;
    }

    .time-weather{
        width:119vw;
        margin-bottom: 100px;
    }

    #month-day{
        font-size: 1.5rem;
    }

    h1{
        font-size:1.5rem;
    }

    h2{
        font-size:1.2rem;
    }

    .content{
        font-size:1.5rem;
        height: 20px;
    }

    .temperature{
        font-size:1.5rem;
        height: 19px;
    }
    
    .humidity{
        font-size:1.5rem;
        height: 19px;
    }
    
    .wind{
        font-size:1.5rem;
        height: 19px;
    }

    .city{
        font-size:1.5rem;
        height: 37px;
    }
}

@media(max-width:390px){
    .time-weather{
        margin-top: 400px;
        width:135vw;
        margin-bottom: 100px;
    }

    #time{
        font-size: 2rem;
    }

    #month-day{
        font-size: 1rem;
    }

    h1{
        font-size:1rem;
    }

    h2{
        font-size:0.8rem;
    }

    .content{
        font-size:1rem;
        height: 20px;
    }

    .temperature{
        font-size:1rem;
        height: 19px;
    }
    
    .humidity{
        font-size:1rem;
        height: 19px;
    }
    
    .wind{
        font-size:1rem;
        height: 19px;
    }

    .city{
        font-size:1rem;
        height: 37px;
    }

    .btn{
        font-size:0.7rem;
        width:100px;
    }
}

@media(max-width:320px){
    .time-weather{
        margin-top: 400px;
        width:157vw;
        margin-bottom: 100px;
    }
    
}